In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
train = pd.read_csv('datasets/train.csv')
test = pd.read_csv('datasets/test.csv')
sample = pd.read_csv('datasets/sample_sub_reg.csv')

In [4]:
train.shape, test.shape, sample.shape

((2051, 81), (878, 80), (878, 2))

In [5]:
sample.head()

   Id    SalePrice
0   2  181479.1217
1   4  181479.1217
2   6  181479.1217
3   7  181479.1217
4  17  181479.1217

In [20]:
# train model on train
# test model on test

X_train = train[['1st Flr SF']]
y_train = train.SalePrice
X_test = test[['1st Flr SF']]

slr_kaggle = LinearRegression()

#fit on train set
slr_kaggle.fit(X_train, y_train)

#predict on test set
y_test_hat = slr_kaggle.predict(X_test)

In [21]:
# create df to upload to kaggle
# df must have ID and SalePrice columns, spelled exactly this way
print(test.shape, sample.shape)
kaggle_submission = pd.DataFrame({'Id': test['Id'],
                                  'SalePrice': y_test_hat})
kaggle_submission.head(3)

(878, 80) (878, 2)

     Id      SalePrice
0  2658  149755.134628
1  2718  280699.737426
2  2414  119584.706788

In [25]:
kaggle_submission.to_csv('datasets/slr_to_kaggle.csv',
                        index=False)